.fixedButton{
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding: 20px;
  text-decoration: none;
}

.roundedFixedBtn{
  height: 60px;
  line-height: 80px;  
  width: 60px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
