.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #121212;
  padding: 40px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #b3b3b3;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #b3b3b3;
}

.trackList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.headerRow {
  display: grid;
  grid-template-columns: 20px 3fr 2fr 50px;
  border-bottom: 1px solid #444444cb;
  width: 100%;

}

.playlistName {
  background-color: #121212;
  color: #ffffff;
  font-size: 24px;
  border: none;
  outline: none;
}

.playlistName::placeholder {
  text-align: center;
}

.saveBtn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 16px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.saveBtn:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .saveBtn {
    padding: 10px 30px;
  }
}